<div class="header d-flex justify-content-between align-items-center">
    <div class="logoText d-flex justify-content-around align-items-center">
        <h2 class="m-0 p-2">Admin Dashboard</h2>
    </div>
    <div>
        <button class="btn btnLogout br-40px" (click)="logout()">Logout</button>
    </div>
</div>