<div class="productBox">
    <div class="productData">
        <h5 class="text-center title">{{product.title}}</h5>
        <p class="description">{{product.description}}</p>
        <p class="m-0">Price: <strong>{{product.price | currency:'PKR'}}</strong></p>
        <p class="m-0">Stock : <strong>{{product.stock}}</strong></p>
        <p>Active : <strong>{{product.isActive}}</strong></p>
        <p class="form-text">Created By: {{product.createdBy.name}}</p>
        <p class="form-text">Added At: {{product.createdAt | date : "short"}}</p>
        <p class="form-text">Updated At: {{product.updatedAt | date : "short"}}</p>
    </div>
    <button class="btn btn-secondary w-100 " (click)="editProduct()">Edit</button>
</div>