.productBox {
  margin-top: 10px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.productData{
    border: 1px solid black;
    border-radius: 6px;
    height: 100%;
    padding: 5px;
}
.title{
    overflow-wrap: break-word;
}
.description {
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
}
.editBtn{
    position: absolute;
    bottom: 0;
}