.form{
    width: 400px;
    box-shadow: 1px 5px 5px 5px lightgray;
    border-radius: 30px;
    padding: 20px;
}
.loginBtn{
    margin-top: 12px;
    margin-left: 50%;
    transform: translateX(-50%);
}
.ng-invalid:not(.form){
    box-shadow: none;
    border-color: red;
}
@media screen and (max-width:400px) {
    .form{
        width: 100%;
    }
}