<div class="vh-100 d-flex justify-content-center align-items-center flex-column">
    <form class="form" #form='ngForm' (ngSubmit)="submit(form)">
        <h1 class="text-center">Login</h1>
        <label for="email" class="form-label">Email</label>
        <input type="text" autofocus autocomplete="email" id="emial" class="form-control" placeholder="Enter Email address" ngModel name="email" required email #email="ngModel">
        <p class="form-text text-danger" *ngIf="email.errors?.required">Email Is Required</p>
        <p class="form-text text-danger" *ngIf="email.errors?.email">Email Is Invalid</p>
        <label for="password" class="form-label">Password</label>
        <input type="password" id="password" class="form-control" placeholder="Enter Password" ngModel name="password" required minlength="8" #password='ngModel'>
        <p class="form-text text-danger" *ngIf="password.errors?.required">Password Is Required</p>
        <p class="form-text text-danger" *ngIf="password.errors?.minlength">Minimum length 8 characters</p>
        <button class="btn btn-success loginBtn" type="submit">Login</button>
    </form>
</div>