.newCatContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 6px;
}
.newCatBox {
  border: 1px solid black;
  padding: 12px;
  margin: 6px 0px;
  border-radius: 30px;
  width: 100%;
}
.newCatCross {
  position: absolute;
  top: -2px;
  right: 12px;
  font-size: 1.5rem !important;
  color: red;
  font-weight: 900;
  cursor: pointer;
  padding: 3px;
}
.spinnerNewCat {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  top: 7px;
  right: 5px;
}
.category {
  border: 1px solid black;
  border-radius: 15px;
  padding: 10px;
}

.editCatBox{
    width: 360px;
    background-color: rgb(187, 199, 211);
    padding: 12px;
    border-radius: 15px;
}