<div class="container-fluid">
    <div class="newCatContainer">
        <button class="btn btn-success br-40px" (click)="addNewCat=true" *ngIf="!addNewCat">Add New
            Category</button>
        <div class="newCatBox position-relative d-flex justify-content-center align-items-center flex-column "
            *ngIf='addNewCat'>
            <span class="newCatCross" (click)="addNewCat=false">&times;</span>
            <h2 class="text-center">Add New Category</h2>
            <div class="position-relative w-100">
                <input type="text" placeholder="Enter name of category" class="form-control"
                    [(ngModel)]="newCategoryTitle">
                <span class="spinner-border text-success spinnerNewCat" *ngIf="addingNewCat"></span>
            </div>
            <p class="m-0" [ngClass]="addStatus ? 'text-success':'text-danger'">{{message}}</p>
            <button class="btn btn-success mt-3" [disabled]='!newCategoryTitle || addingNewCat'
                (click)="addCategory()">Add</button>
        </div>
    </div>
    <div class="categories">
        <div *ngFor="let category of categories" class="category mb-2">
            <div class="d-md-flex justify-content-between ">
                <p class="form-text m-0">Created By: {{category.createdBy.name}}</p>
                <p class="form-text m-0">Created At: {{category.createdAt | date : "short"}}</p>
                <p class="form-text m-0">Updated At: {{category.updatedAt| date : "short"}}</p>
            </div>
            <p><span class="fontSize24px">Title</span>: <span class="fontsize18px">{{category.title}}</span></p>
            <div class="d-flex justify-content-around align-items-center">
                <button class="btn btn-success" *ngIf="!category.isActive"
                    (click)="showOrHideCategory(category)">Activate</button>
                <button class="btn btn-warning" *ngIf="category.isActive"
                    (click)="showOrHideCategory(category)">Deactivate</button>
                <button class="btn btn-primary" (click)="editCategory(category)">Edit</button>
                <button class="btn btn-danger" (click)="deleteCategory(category)">Delete</button>
            </div>
        </div>
    </div>
</div>
<div class="overlay" *ngIf="editingCategory">
    <div class="editCatBox">
        <h2>Edit Title</h2>
        <p>Current Title: {{filteredCategory.title}}</p>
        <input type="text" class="form-control" placeholder="Enter New Title" required [(ngModel)]="catTitleToEdit">
        <div class="d-flex justify-content-around align-items-center p-3">
            <button class="btn btn-danger" (click)="updateCategoryTitle()" [disabled]="(filteredCategory.title == catTitleToEdit) || !catTitleToEdit">Update</button>
            <button class="btn btn-success" (click)="editingCategory=false">Cancel</button>
        </div>
    </div>
</div>