.main {
  width: 100%;
}
.side-nav {
  background-color: black;
  min-height: 100vh;
  width: 20%;
  position: sticky;
  top: 0px;
  align-self: flex-start;
}
.sideItems {
  color: white;
  padding: 6px;
  font-size: 18px;
  margin-bottom: 10px;
  cursor: pointer;
}
.sideItems:hover {
  background-color: #fdfdfd;
  color: black;
}
.activeTab {
  background-color: #fdfdfd;
  color: black;
}
.side-nav img {
  width: 80px;
  margin-left: 50%;
  border-radius: 50%;
  transform: translateX(-50%);
}
