<div class="d-flex">
    <div class="side-nav" *ngIf="isSideNavVisible">
        <div class="p-3 mb-3">
            <img src="../../assets/images/logo.jpeg" alt="logo" class="logoImg">
        </div>
        <div class="sideItems" routerLink="/home" routerLinkActive="activeTab">Home</div>
        <div class="sideItems" routerLink="/categories" routerLinkActive="activeTab">Categories</div>
        <div class="sideItems" routerLink="/products" routerLinkActive="activeTab">Products</div>
        <div class="sideItems" routerLinkActive="activeTab">orders</div>
        <div class="sideItems" routerLinkActive="activeTab">stats</div>
    </div>
    <div class="main">
        <app-header *ngIf="isHeaderVisible"></app-header>
        <router-outlet></router-outlet>
    </div>
</div>