<div class="container-fluid">
    <div class="newCatContainer">
        <button class="btn btn-success br-40px" (click)="addNewProducts()">Add New
            Product</button>
    </div>
    <div class="ExistingProducts">
        <label for="category" class="form-label">Select Category</label>
        <select class="form-select" [(ngModel)]='categoryName' name="category" aria-label="Default select example"
            required (change)="categoryChanged()">
            <option value="{{category.title}}" *ngFor="let category of categories;let first=first">{{category.title}}
            </option>
        </select>
        <div class="row">
            <div *ngFor="let product of products" class="col-lg-3 col-md-4 col-sm-6 mb-2">
                <app-product [product]="product" (edit)="editProduct($event)"></app-product>
            </div>
        </div>
    </div>
</div>
<div class="overlay" *ngIf="addNewProduct">
    <app-edit-product (closeModal)="closeModal($event)" [product]="filteredProduct" [categories]="categories" [editing]="editing">
    </app-edit-product>
</div>