.newCatContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 6px;
  }
  .newCatBox {
    border: 1px solid black;
    padding: 12px;
    margin: 6px 0px;
    border-radius: 30px;
    width: 100%;
  }