<div class="box">
    <form (ngSubmit)="submitForm(form)" #form="ngForm">
        <h3 *ngIf="!editing" class="text-center">Add New Product</h3>
        <h3 *ngIf="editing" class="text-center">Edit Product</h3>
        <label for="category" class="form-label">Select Category</label>
        <select class="form-select" [(ngModel)]='categoryName' name="category" aria-label="Default select example"
            required (change)="categoryChanged()">
            <option value="{{category.title}}" *ngFor="let category of categories;let first=first">{{category.title}}
            </option>
        </select>
        <label for="title" class="form-label">Title</label>
        <input type="text" id="title" name="title" [(ngModel)]="title" class="form-control"
            placeholder="Enter Product Title" required #titleInput="ngModel">
        <p class="text-danger" *ngIf="titleInput.errors?.required">Title is required</p>
        <label for="price" class="form-label">Price</label>
        <input type="text" id="price" name="price" [(ngModel)]="price" class="form-control"
            placeholder="Enter Product Price" required pattern="[0-9]+(\.[0-9]{1,2})?" #priceInput="ngModel">
        <p class="text-danger" *ngIf="priceInput.errors?.pattern">Price is invalid</p>
        <p class="text-danger" *ngIf="priceInput.errors?.required">Price is required</p>
        <label for="desceiption">Description</label>
        <textarea name="description" id="desc" cols="30" rows="7" class="form-control" required
            placeholder="Enter Product Description" [(ngModel)]="description" #desc="ngModel"></textarea>
        <p class="text-danger" *ngIf="desc.errors?.required">Description is required</p>
        <div class="form-check m-2">
            <input class="form-check-input" [(ngModel)]="stock" name="stock" type="checkbox" value="true" id="stock">
            <label class="form-check-label" for="stock">
                In Stock
            </label>
        </div>
        <div class="form-check m-2">
            <input class="form-check-input" [(ngModel)]="isActive" name="isActive" type="checkbox" id="isActive">
            <label class="form-check-label" for="isActive">
                Active
            </label>
        </div>
        <div class="d-flex justify-content-around p-2">
            <button *ngIf="editing" class="btn btn-success" type="submit" [disabled]="form.invalid">Update</button>
            <button *ngIf="!editing" class="btn btn-success" type="submit" [disabled]="form.invalid">Add</button>
            <button class="btn btn-danger" (click)="close()">Cancel</button>
        </div>
    </form>
</div>