:host{
    width: 100%;
}
.box {
  width: 500px;
  margin: auto;
  padding: 10px;
  border-radius: 15px;
  background-color: #d3d3d3;
}
@media screen and (max-width: 500px) {
  .box {
    width: 98%;
  }
}
