/* You can add global styles to this file, and also import other style files */
.br-40px {
  border-radius: 40px !important;
}
.fontSize24px {
  font-size: 24px;
}
.fontsize18px{
  font-size: 18px;
}
.overlay {
  background: rgba(255, 255, 255, 0.452);
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}